<h1>Artists Index</h1>

<% @artists.each do |artist| %>
  <p>
    <%= link_to "#{artist.name} (#{artist.song_count} #{'song'.pluralize()})", artist_path(artist) %><br/>
    <% artist.songs.each do |song| %>
      <%= link_to song.title, song_path(song) %><br/>
    <% end %>
  </p>
<% end %>